# Файлы и папки Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.deb

# Виртуальное окружение
venv/
ENV/
env/

# Локальные и личные настройки
config.py
.env
.venv
instance/
settings.json

# Папки с загруженными файлами пользователей
uploads/
downloads/

# База данных пользователей
users.db

# Логи и временные файлы
*.log
*.tmp

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo
.DS_Store 