[Unit]
Description=WalpServer Media Server
After=network.target

[Service]
Type=simple
User=walpserver
Group=walpserver
WorkingDirectory=/usr/share/walpserver
ExecStart=/usr/share/walpserver/venv/bin/python server_manager.py
Restart=always

[Install]
WantedBy=multi-user.target 